body{
    background-color: black;
}
div.mainDiv{
    background-image:url("../images/div1Image.jpg") ;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  header{
      position: relative;
      top:40px;
      right:0;
      height:85px;
      background-color:teal;
    border:2px outset white;
  }
  .firstHeading{
      color:white;
      font-weight: bold;
      font-family: Georgia, 'Times New Roman', Times, serif;
      position: absolute;
      left:40px;
      display: inline;
    }
    table{
        position: relative;
        left:1100px;
        top: 12px;
        border-spacing: 10px;
    }
    td{
        text-align: center;
        padding:10px;
    }
    a{
        color:white;
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 23px;
    
    }
    .childDiv{
       background-color: paleturquoise;
        width:1000px;
        height:450px;
        position: relative;
        top:100px;
        left:220px;
        border: 1px outset teal;
    }
    .secondHeading{
        color:teal;
        font-family: Georgia, 'Times New Roman', Times, serif;
        position: absolute;
        left:30px;
    }
    img{
        position: relative;
        top:100px;
        left:20px;
    }
     
/*a{
    background-color:cadetblue;
    text-align: center;
    color:white;
    padding:25px;
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left : 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
   font-size: 30px;
}*/

