body{
    /* background-color: black; */
}
div.mainDiv{
     background-image:url("../images/div2Image.jpg") ; 
    height: 600px;
    position: relative;
    top:50px;
    /* background-position: center;  */
     /* background-repeat: repeat-x;   */
    /* background-size: cover;  */
  }
  header{
      position: relative;
      top:20px;
      right:0;
      height:85px;
      background-color:teal;
    border:2px outset white;
  }
  .firstHeading{
      color:white;
      font-weight: bold;
      font-family: Georgia, 'Times New Roman', Times, serif;
      position: absolute;
      left:40px;
      display: inline;
    }
    table{
        position: relative;
        left:1100px;
        top: 12px;
        border-spacing: 10px;
    }
    td{
        text-align: center;
        padding:10px;
    }
    a{
        color:white;
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 23px;
    
    }
    .childDiv{
       /* background-color: white;  */
        width:70%;
        height:450px;
        position: absolute;
        top:70px;
        left:200px;
       margin:0 auto;
        /* border: 3px solid white;  */
        padding: 0 10px;
        /* overflow: auto; */
    }
    .childDiv1{
        /* background-color: white;  */
         width:50%;
         height:450px;
         position: absolute;
         top:30px;
         left:350px;
        margin:0 auto;
          /* border: 3px solid white;   */
         padding: 0 10px;
         /* overflow: auto; */
     }
     .childDiv2{
        /* background-color: white;  */
         width:50%;
         height:450px;
         position: absolute;
         top:30px;
         left:350px;
        margin:0 auto;
           border: 3px solid white;   
         padding: 0 10px;
         /* overflow: auto; */
     }
    .secondHeading{
        color:white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding:10px 10px 20px 10px;
        border-bottom: 3px solid white;
        margin: 0 auto;

    }
    img{
        /* position: absolute; */
        float:left;
        /* top:90px; */
        /* left:20px; */
        margin-right:40px;
        margin-bottom: 40px;
        
    }
     p{
          position:absolute; 
          top:90px;
          left:20px;
        /* float:left; */
         color:white;
         font-family:Georgia, 'Times New Roman', Times, serif;
         font-size: 20px;
         padding-right:25px;
         text-align: justify;
     }
     footer{
         clear: both; 
         position: relative; 
         top:50px;
         height:70px;
         background-color: teal;
         color:white;
         text-align: center;
        padding-top:25px;
        padding-bottom: 25px;
         border-top: 2px solid white;
         /*Query :why vertical-align:middle not working?
          can we use display:inline instead of using float:left?
          sticky position
          height:auto, what does it do
          try sticky
          try opacity
          
         */
         
     }
     form{
        position:absolute; 
        top:90px;
        left:20px;
         color:white;
         font-family:Georgia, 'Times New Roman', Times, serif;
         font-size: 20px;
         font-size: 20px;
         padding-right:25px;
         text-align: justify;
     }
     
     #input1
     {
         width:695px;
         height: 20px;
     }
     #input2
     {
         width:695px;
         height: 20px;
     }
     #input3
     {
         width:695px;
         height: 100px;
     }
     #button
     {
         background-color: teal;
         color: white;
         font-family: Georgia, 'Times New Roman', Times, serif;
         font-size: 20px;
     }
/*a{
    background-color:cadetblue;
    text-align: center;
    color:white;
    padding:25px;
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left : 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
   font-size: 30px;
}*/

